.arr-viz{
    background-color: aqua;
    display: inline-block;
    margin: 1.5px;
}

.arr-cont{
    position: absolute;
    left: 100px;
}


.btns{
    display: flex;
    justify-content: space-around;
}